/* Global css values by default  */
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* END fonts */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "outfit" , serif;
    font-size: 15px;
}

 /* Colors */
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
/* end Colors */
/* End of global values */

body {
    background: var(--Light-gray);
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 320px;
    padding: 16px;
    background-color: var(--White);
    border-radius: 20px;
    text-align: center;
    height: 497px;
}
.img-box {
    width: 100%;
    margin-bottom: 16px;
}
img {
    width: 100%;
    border-radius: 20px;
}
h1 {
   font-weight: 700px;
   color: var(--Dark-blue);
   margin: 16px;
   font-size: 22px ;
}
p {
    color: var(--Grayish-blue);
    margin: 16px;
}
